/* Import Open Sans font from google API*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  font-family: 'Open Sans', sans-serif;
  background-color:#ebebeb;
}
a:focus,
a:hover {
    text-decoration: none;
    transition: 300ms ease-in-out;
}

*:focus {
    outline: #500000;
}

.list-group-item{
  font-size: 0.9rem;
}

#post_list, #post_list a{
  text-decoration: none;
  color:#500000;
}

.icon {
  height:20px;
}

.nav-font {
  font-size: 0.7rem;
}

.bg-darkmaroon {
  background-color: #2F0000;
}

.bg-darkmaroon:hover {
  background-color: #140000;
}

.bg-gray {
  background-color: #815555;
}

.bg-gray:hover {
  background-color: #584343;
}

.bg-gray:active {
  background-color: #402B2B;
}

/* Post Ad Page Style */
.post_ad label{
    color: #500000;
    font-size: 18px;
    font-weight: bold;
}

.post_ad small{
    color: #500000;
    font-size: 16px;
    font-weight: bold;
}

.post_ad .form-control{
    height: 45px;
    font-size: 18px;
    color: #500000;
    border: 2px solid rgba(0,0,0,.15)
}

.post_ad .form-control:focus{
    border-color: #4f0101;
}

.upload_file{
    margin: 35px 0;
}
.upload_file #myFile {
    position: absolute;
    opacity: 0;
    left: 15px;
    cursor: pointer;
    height: 40px;
    width: 188px;
}

.btn_upload{
    background: linear-gradient(to right , #66b065 , #5bb95b);
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    border-radius: 3px;
    transition: 0.5s ease-in-out;
}

.btn_cancel{
    color: #28272c;
    border: 2px solid #ccc;
    background: #ffffff;
    font-weight: 600;
    cursor: pointer;
    margin-left: 2px;
    transition: 0.5s ease-in-out;
}

.btn_upload:hover ,
.btn_upload:focus ,
.btn_upload.active{
    background: linear-gradient(to right ,#5bb95b , #66b065);
    color:  #fff ;
}

/*

.list_column_date{

}
.list_column_icon{

}
.list_column_title{

}
.list_column_icon{

}
.list_column_price{

} */
