/* Import Open Sans font from google API*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);


.list-group-item{
  font-size: 0.9rem;
}

.header-img {
  height: 80px;
}

.icon {
  height:15px;
}

.bg-darkmaroon {
  background-color: #2F0000;
}

.bg-darkmaroon:hover {
  background-color: #140000;
}

.list_column_date{

}
.list_column_icon{

}
.list_column_title{

}
.list_column_icon{

}
.list_column_price{

}
