<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css_style/styles.css">
    <title>
      ISTM 631 project homepage!
    </title>
  </head>
  <body>
    <div class="whole">
      <div class="center">
        <div class="top">
          <img src="">
        </div>
        <div class="menu">
          <div class="account">
            <ul class="accountBars">
              <li class="bar">
                one
              </li>
              <li class="bar">
                one
              </li>
              <li class="bar">
                one
              </li>
            </ul>
          </div>
          <div class="search">
            <form class="rightSearch">
              <input type="text">
              <button type="submit">Search</button>
            </form>
          </div>
        </div>
        <div class="bottom">
          <div class="filter">
          </div>
          <div class="content">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
