<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="/home/haoping/Documents/GitHub/631-Project/css_style/styles.css"/>
    <title>
      ISTM 631 project homepage!
    </title>
  </head>
  <body>
    <div class="whole">
      <div class="center">
        <div class="top">
          <img src="/home/haoping/Documents/GitHub/631-Project/Img/TAM-PrimaryMarkB-white.png" alt="TAMU brand">
        </div>
        <div class="menu">
          <div class="account">
            <ul class="accountBars">
              <li class="bar">
                <a href="">one</a>
              </li>
              <li class="bar">
                <a href="">one</a>
              </li>
              <li class="bar">
                <a href="">one</a>
              </li>
            </ul>
          </div>
          <div class="search">
            <form class="rightSearch">
              <input type="text">
              <button type="submit">Search</button>
            </form>
          </div>
        </div>
        <div class="bottom">
          <div class="filter">
            <h2>Filter</h2>
            <form class="filterList">
              <input type="checkbox" name="filter1" value="one">one<br>
              <input type="checkbox" name="filter1" value="one">one<br>
              <input type="checkbox" name="filter1" value="one">one<br>
              <input type="checkbox" name="filter1" value="one">one<br>
            </form>
          </div>
          <div class="content">
            
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
