* {
    box-sizing: border-box;
    margin: 0 auto;
    border: 0px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.page_container{
  height:1200px;
  width: 1200px;
  background-color: #E7DED0;
}
.container{
    height:1200px;
    width: 1200px;
    float:left;
}

.logo_bar{
  height: 161.803398875px;
  width: 1200px;
  background-color: #500000;
}

.nav_bar{
  height: 50px;
  width: 1200px;
  background-color: #360000;
  color: #ffffff;
}
.nav_bar_item a{
  height: 50px;
  width: 200px;
  float:left;
  text-align: center;
  padding: 15px 0px 15px 0px;
}
.nav_bar_item a:hover{
 background-color: #332c2c;
}

.search {
  width: 320px;
  float: right;
  margin-right: 20px;
}
.search_input{
  height: 32px;
  width: 250px;
  margin-left: 25px;
  margin-top: 9px;
  border-radius: 8px;
  float: left;
}
.search_submit {
  float: left;
  height: 32px;
  width: 32px;
  margin-top: 9px;
  margin-left: 4px;
  border-radius: 8px;
}
.submit_buttom:hover {
  background-color: #332c2c;
  color: #ffffff;
}

.mainbody{
    width: 1040px;
    float:left;
}

/* category list */
.category {
  width: 240px;
  float:left;
  margin-left: 12px;
  margin-top: 12px;
  background-color: #ffffff;
}
/* Category list links */
.category a {
    color: #50000;
    padding: 10px;
    text-decoration: none;
    display: block;
}
/* Category list change color on hover */
.category a:hover a:active{
    background-color: #5F574F;
    color: #ffffff;
}

/* List of all post within selected category */
.main_list{
    width: 924px;
    margin-top: 12px;
    margin-right: 12px;
    float:right;
}
.main_list table{
    width: 924px;
}

.main_row {
    height: 40px;
    width: inherit;
}

.main_column {
    background-color: #744F28;
    width: auto;
    padding-left: 5px;
}

.icon {
  width: 20px;
  height: 20px;

}
