* {
  box-sizing: border-box;
  margin: 0 auto;
  border: 0px;
}

body {
  margin: 0;
  font-family: BentonSansRegular, "Arial Narrow", Arial, sans-serif;
}

.container{
  height:1200px;
  max-width: 80%;
  background-color: #fbf6ea;
}

.logo_bar{
  height: 161px;
  width: 100%;
  background-color: #500000;
}
.logo_bar_left{
  height: inherit;
  width: 50%;
  background-image: url("image/logo_bar_background_left.png");
  background-size:contain;
  background-repeat: no-repeat;
  float: left;
}
.logo_bar_right{
  height: inherit;
  width: 50%;
  background-image: url("image/logo_bar_background_right.png");
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  float: right;
}

.logo {
  width: inherit;
  margin-top: 15px;
}

.nav_bar{
  height: 50px;
  width: inherit;
  background-color: #360000;
  color: #ffffff;
}
.nav_bar_item a{
  height: 50px;
  width: 17.5%;
  float:left;
  text-align: center;
  font-size: 1.5em;
  padding: 10px 0px 1px 0px;
}
.nav_bar_item a:hover{
 background-color: #332c2c;
}

.search {
  width: 30%;
  float: right;
}
.search_input{
  height: 34px;
  width: 84%;
  margin: 8px 4% 8px 8%;
  border-radius: 6px;
  float: left;
  overflow: hidden;
}

.search_button {
  height: 34px;
  width: 15%;
  margin: 8px 4% 8px -18.333333% ;
  padding: 0.5%;
  border-radius: 6px;
  float: right;
  overflow: hidden;
}
.search_button:hover {
  filter: invert(100%);
}
#icon_search{
  width: 60%;
  max-width: 30px;
  max-height: 30px;
}

/* category list */
.category {
  width: 20%;
  float:left;
  margin: 12px 1% 0 1%;
  background-color: #E7DED0;
  color: #500000;
  border-radius: 6px;
}
/* Category list links */
.category a {
  color: #50000;
  font: bold;
  padding: 10px;
  text-decoration: none;
  display: block;
}
/* Category list change color on hover */
.category a:hover{
  background-color: #5F574F;
  color: #ffffff;
}
.catrgory_item_active{
  background-color: #5F574F;
  color: #ffffff;
  border-radius: inherit;
}

/* List of all post within selected category */
.main_list{
  width: 77%;
  margin: 12px 1% 0 0;
  float:right;
  border-radius: 6px;
  overflow: auto;
}
.main_list table{
  width: 100%;
  border-collapse: collapse;
  border-radius: 6px;
}

.main_list tr:nth-child(even){
  background-color: #FAF0E1;
  outline: #E7DED0;
  height: 45px;
  width: inherit;
}
.main_list tr:nth-child(odd){
  background-color: #E7DED0;
  outline: #E7DED0;
  height: 45px;
  width: inherit;
}

#list_column_icon{
  width:45px;
  padding: 6px 10px 0px 10px;
  border: none;
}
#list_column_date {
  width:80px;
  padding: 1px 5px 1px 5px;
  text-align: center;
  border: none;
  color: #500000;
}
#list_column_title {
  width:auto;
  padding: 1px 10px 1px 10px;
  text-align: left;
  border: none;
}
#list_column_title a:link, a:visited{
  text-decoration: none;
  color: #500000;
  border: none;
}
#list_column_title a:hover{
  text-decoration: none;
  color: #836E2C;
  border-color:inherit;
}

#list_column_price {
  width:150px;
  padding: 1px 10px 1px 10px;
  text-align: left;
  color: #500000;
}

.icon {
  width: 100%;
  height: auto;
}
