* {
    box-sizing: border-box;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.page_container{
  height:1200px;
  width: 1200px;
  background-color: #E7DED0;
}

.logo_bar{
  height: 161.803398875px;
  width: 1200px;
  background-color: #500000;
}

.nav_bar{
  height: 50px;
  width: 1200px;
  background-color: #360000;
  color: #ffffff;
}

.nav_bar_item a{
  height: 50px;
  width: 240px;
  float:left;
  text-align: center;
  padding: 15px 0px 15px 0px;
}
.nav_bar_item a:hover{
 background-color: #332c2c;
}

/* category list */
.category {
  width: 240px;
  margin-left: 12px;
  margin-top: 12px;
  background-color: #ffffff;
}

/* Category list links */
.category a {
    color: #50000;
    padding: 10px;
    text-decoration: none;
    display: block;
}

/* Category list change color on hover */
.category a:hover a:active{
    background-color: #5F574F;
    color: #ffffff;
}
