* {
  margin: 0 auto;
  padding: 0;
}
.whole {
  background-color: #505050;
  height: 100%;
  width: 100%;
}
.center {
  height: inherit;
  max-width: 800px;
  margin: auto;
}
.top {
  background-color: #500000;
  height: 200px;
  width: inherit;
}
.menu {
  background-color: #515845;
  height: 50px;
  width: inherit;
  padding-left: 2%;
  padding-right: 2%;
}
.bottom {
  height: 400px;
  width: inherit;
}
.account {
  height: inherit;
  float:left;
}
.account ul {
  height: inherit;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.account li {
  background-color: #dddddd;
  height:inherit;
  float: left;
  display :block;
  padding: 8px;
}
.search {
  background-color: #111111;
  float: right;
  height: inherit;
}
.filter {
  background-color: green;
  float: left;
  height: inherit;
  width: 25%;
}
.content {
  background-color: yellow;
  float:right;
  height: inherit;
  width: 75%;
  overflow: hidden;
}
